/*Cascading Stylesheet - CSS */
*{
  margin: 0;
}
html,
body {
  height: 100%;
  display: grid;
  place-items: center;
}
main {
  background: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-online-plant-delivery-1638314748.jpg?crop=1.00xw:0.755xh;0,0.139xh&resize=1200:*);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  text-align: center;
}
.content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: url(https://ak.picdn.net/shutterstock/videos/23264806/thumb/1.jpg);
  background-position-y: center;
  color: aliceblue;
  text-shadow: 0px 0px 20px rgb(0, 0, 10) ;
}
h1 {
  font-size: 2rem;
}
a {
  color: rgb(35, 221, 228)
}
