/*Cascading Stylesheet - CSS */
*{
  margin: 0;
}
html,
body {
  height: 100%;
  display: grid;
  place-items: center;
}
main {
  background: url(images/AdobeStock_358324916.jpeg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  text-align: center;
}
.content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: aliceblue;
  text-shadow: 0px 0px 20px rgb(0, 0, 10) ;
}
h1 {
  font-size: 2rem;
}
a {
  color: rgb(35, 221, 228)
}
